<div class="row">
  <div class="weapon armor col-xs-12">
    <div class="armor__img">
      <img class="img-responsive"
           ng-src="{{'https://www.bungie.net' + exoticArmor.definition.icon}}"
           alt="{{exoticArmor.definition.name}}">
    </div>
    <div class="weapon__info">
      <div class="weapon__title">
        <span ng-bind="exoticArmor.definition.name"></span>
      </div>
      <div class="weapon__perks">
        <div class="weapon-perk" ng-repeat="node in exoticArmor.nodes track by $index"
             bs-popover="{title:node.name,content:node.description}">
          <i class="weapon-perk__icon">
            <img class="img-responsive" ng-src="{{node.icon}}" alt="{{node.name}}">
          </i>
        </div>
      </div>
      <div class="weapon__label" ng-if="!hasExotic && !exoticArmor.hazard">
        <span class="player-hazard player-hazard--none">No Exotic armor equipped</span>
      </div>
      <div class="weapon__hazards">
        <span class="player-hazard" ng-repeat="hazard in exoticArmor.hazards">{{hazard}}</span>
      </div>
    </div>
  </div>
</div>
