<div class="player shadow-z-1"
     ng-class="{'with-overlay': player.isEditing, 'is-virgin': (player.name !== 'Enter Player Name' && !player.recentMatches), 'with-overlay is-invalid': player.name === 'Enter Player Name'}"
     ng-if="fireteam[0].name && $index < 3"
     ng-controller="PlayerCtrl">

  <div ng-include="'views/player/overview.html'"></div>

  <tabset class="player-tabs" ng-if="!subdomain">
    <tab class="player-tab--equipped" heading="Equipped" analytics-on analytics-event="Click" analytics-category="Equipped">
      <div ng-include="'views/player/equipped.html'"></div>
    </tab>
    <tab class="player-tab--last-matches" heading="Last Matches" analytics-on analytics-event="Click" analytics-category="Last Matches">
      <div ng-include="'views/player/last-matches.html'"></div>
    </tab>
    <tab class="player-tab--stats" heading="Stats" analytics-on analytics-event="Click" analytics-category="Stats">
      <div ng-include="'views/player/stats.html'"></div>
    </tab>
  </tabset>

  <tabset class="player-tabs" ng-if="subdomain">
    <tab class="player-tab--stats" heading="Stats" analytics-on analytics-event="Click" analytics-category="Stats">
      <div ng-include="'views/player/stats.html'"></div>
    </tab>
    <tab class="player-tab--maps" heading="Maps" analytics-on analytics-event="Click" analytics-category="Maps">
      <div ng-include="'views/player/maps.html'"></div>
    </tab>
    <tab class="player-tab--last-matches" heading="Last Matches" analytics-on analytics-event="Click" analytics-category="Last Matches">
      <div ng-include="'views/player/last-matches.html'"></div>
    </tab>
  </tabset>

  <div class="player__links">
    <div class="row">
      <div class="col-xs-12 player__links__btns">
        <a href="http://my.destinytrialsreport.com/{{player.membershipType === 2 ? 'ps' : 'xbox'}}/{{player.name}}"
           type="button" target="_blank" class="btn btn-default" ng-if="!subdomain"
           analytics-on analytics-event="Click" analytics-category="myDestinyTrialsReport">
          myTrialsReport
        </a>
        <a href="http://www.destinytrialsreport.com/{{player.membershipType === 2 ? 'ps' : 'xbox'}}/{{player.name}}"
           type="button" target="_blank" class="btn btn-default" ng-if="subdomain"
           analytics-on analytics-event="Click" analytics-category="DestinyTrialsReport">
          DestinyTrialsReport
        </a>
        <a href="http://destinytracker.com/destiny/playlists/{{player.membershipType === 2 ? 'ps' : 'xbox'}}/{{player.name}}/trialsOfOsiris"
           type="button" target="_blank" class="btn btn-default"
           analytics-on analytics-event="Click" analytics-category="DestinyTracker">
          DestinyTracker
        </a>
      </div>
    </div>
  </div>

  <div class="player-overlay">
    <div class="player-overlay__close" ng-click="toggleEdit(player)">
      <i class="material-icons">&#xE5CD;</i>
    </div>
    <div ng-if="fireteam[0].name && $index < 3 && $index > -1">
      <div class="edit-player__input">
        <form role="form" ng-submit="searchPlayerbyName(teammateName, platformValue, $index, false)">
          <button class="btn btn-icon" type="submit">
            <i class="material-icons">&#xE163;</i>
          </button>
          <input type="text" placeholder="{{fireteam[$index].name}}" class="form-control" ng-model="teammateName">
        </form>
      </div>
      <div class="player-overlay__content" ng-if="!player.invalidResult">
        <!--<div class="player-overlay-action__header">
          <span ng-bind="fireteam[$index].name"></span>'s characters
        </div>
        <div class="btn-group" ng-if="subdomain != 'my'" ng-show="fireteam[$index].otherCharacters.length > 1">
          <button class="btn btn-white dropdown-toggle" type="button" id="characterSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            <span ng-bind="fireteam[$index].className"></span>
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu" aria-labelledby="characterSelect">
            <li ng-repeat="character in fireteam[$parent.$index].otherCharacters" ng-if="fireteam[$parent.$index].characterId !== character.characterId">
              <a ng-bind="character.className" ng-click="setRecentPlayer(character, ($parent.$parent.$index))"
                 analytics-on analytics-event="Click" analytics-category="Character Change">
              </a>
            </li>
          </ul>
        </div>-->
        <div class="recent-players" ng-show="!$first">
          <div class="player-overlay-content__header">
            <span ng-bind="fireteam[0].name + '\'s recent teammates'"></span>
          </div>
          <div class="recent-player" ng-repeat="player in recentPlayers track by $index">
            <a class="btn btn-white btn-raised" ng-bind="player.name" ng-click="setRecentPlayer(player, ($parent.$index))"
               analytics-on analytics-event="Click" analytics-category="Recent Player">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
