<div class="player shadow-z-1" ng-class="{'is-virgin':!player.activities.lastTwentyFive, 'with-overlay is-invalid':player.invalidResult}">

  <div ng-include="'views/player/overview.html'"></div>

  <tabset class="player-tabs" ng-if="!subdomain">
    <tab class="player-tab--equipped" heading="Equipped" analytics-on analytics-event="Click" analytics-category="Equipped">
      <div ng-include="'views/player/equipped.html'"></div>
    </tab>
    <tab class="player-tab--last-matches" heading="Last Matches" analytics-on analytics-event="Click" analytics-category="Last Matches">
      <div ng-include="'views/player/last-matches.html'"></div>
    </tab>
    <tab class="player-tab--stats" heading="Stats" analytics-on analytics-event="Click" analytics-category="Stats">
      <div ng-include="'views/player/stats.html'"></div>
    </tab>
  </tabset>

  <tabset class="player-tabs" ng-if="subdomain">
    <tab class="player-tab--stats" heading="Stats" analytics-on analytics-event="Click" analytics-category="Stats">
      <div ng-include="'views/player/stats.html'"></div>
    </tab>
    <tab class="player-tab--maps" heading="Maps" analytics-on analytics-event="Click" analytics-category="Maps">
      <div ng-include="'views/player/maps.html'"></div>
    </tab>
    <tab class="player-tab--last-matches" heading="Last Matches" analytics-on analytics-event="Click" analytics-category="Last Matches">
      <div ng-include="'views/player/last-matches.html'"></div>
    </tab>
  </tabset>

  <div class="player__links">
    <div class="row">
      <div class="col-xs-12 player__links__btns">
        <a href="http://my.destinytrialsreport.com/{{player.membershipType === 2 ? 'ps' : 'xbox'}}/{{player.name}}"
           type="button" target="_blank" class="btn btn-default" ng-if="!subdomain"
           analytics-on analytics-event="Click" analytics-category="myDestinyTrialsReport">
          myTrialsReport
        </a>
        <a href="http://www.destinytrialsreport.com/{{player.membershipType === 2 ? 'ps' : 'xbox'}}/{{player.name}}"
           type="button" target="_blank" class="btn btn-default" ng-if="subdomain"
           analytics-on analytics-event="Click" analytics-category="DestinyTrialsReport">
          DestinyTrialsReport
        </a>
        <a href="http://destinytracker.com/destiny/playlists/{{player.membershipType === 2 ? 'ps' : 'xbox'}}/{{player.name}}/trialsOfOsiris"
           type="button" target="_blank" class="btn btn-default"
           analytics-on analytics-event="Click" analytics-category="DestinyTracker">
          DestinyTracker
        </a>
      </div>
    </div>
  </div>

</div>
