<div class="player-overview">
  <div class="player-header" ng-style="{'background-image':'url(\'' + player.emblem.background + '\')'}">
    <div class="player-header__title">
      <img class="player-header__emblem" ng-src="{{player.emblem.icon}}" alt="Emblem">
      <div class="player-header__char">
        <div class="player-info">
          <h2 class="player-header__gamertag" ng-bind="player.name"></h2>
          <span class="player-info__class" ng-bind="player.characterInfo.subclassName"></span>
          <span class="player-info__grimoire" ng-show="player.grimoire">
            <img src="/images/grimoire.png" alt="Grimoire">
            <span ng-bind="player.grimoire"></span>
          </span>
          <div ng-repeat="hazard in player.nonHazard track by $index"
               ng-bind="hazard.split(' ')[1]" ng-class="{'player-hazard--developer': hazard === 'Site Developer', 'player-hazard--donator': hazard === 'Site Donator'}"
               bs-popover="{content:DestinyHazardDefinition[hazard]}" class="player-hazard">
          </div>
        </div>
        <div class="player-level">
          <div class="player-level__light highlight" ng-show="player.characterInfo.stats.STAT_LIGHT.value">
            <span>&#10022;</span>
            <span ng-bind="player.characterInfo.stats.STAT_LIGHT.value"></span>
          </div>
          <div class="player-level__level" ng-show="player.characterInfo.level">
            <span>Level</span>
            <span ng-bind="player.characterInfo.level"></span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="player__summary">-->
     <!--<div class="ng-class: {'highly-skilled' : player.stats.killsDeathsRatio.basic.value >= 2.0,-->
                            <!--'skilled' : player.stats.killsDeathsRatio.basic.value < 2.0 && player.stats.killsDeathsRatio.basic.value >= 1.5,-->
                            <!--'above-average' : player.stats.killsDeathsRatio.basic.value < 1.5 && player.stats.killsDeathsRatio.basic.value >= 1.1,-->
                            <!--'average' : player.stats.killsDeathsRatio.basic.value < 1.1 && player.stats.killsDeathsRatio.basic.value >= 0.9,-->
                            <!--'below-average' : player.stats.killsDeathsRatio.basic.value < 0.9 && player.stats.killsDeathsRatio.basic.value >= 0.7,-->
                            <!--'has-other-qualities' : player.stats.killsDeathsRatio.basic.value < 0.7 }">-->
       <!--<div ng-show="player.stats.killsDeathsRatio.basic.value >= 2.0">-->
         <!--Highly skilled player-->
       <!--</div>-->
       <!--<div ng-show="player.stats.killsDeathsRatio.basic.value < 2.0 && player.stats.killsDeathsRatio.basic.value >= 1.5">-->
         <!--Skilled player-->
       <!--</div>-->
       <!--<div ng-show="player.stats.killsDeathsRatio.basic.value < 1.5 && player.stats.killsDeathsRatio.basic.value >= 1.1">-->
         <!--Above average player-->
       <!--</div>-->
       <!--<div ng-show="player.stats.killsDeathsRatio.basic.value < 1.1 && player.stats.killsDeathsRatio.basic.value >= 0.9">-->
         <!--Average player-->
       <!--</div>-->
       <!--<div ng-show="player.stats.killsDeathsRatio.basic.value < 0.9 && player.stats.killsDeathsRatio.basic.value >= 0.7">-->
         <!--Below average player-->
       <!--</div>-->
       <!--<div ng-show="player.stats.killsDeathsRatio.basic.value < 0.7">-->
         <!--Has other qualities-->
       <!--</div>-->
     <!--</div>-->
  </div>
  <div class="player__content player-quick-look">
    <div class="row">
      <div class="player-quick-look__form col-xs-9">
        <div class="player-quick-look__form__matches" trials-history="player.activities.lastTwentyFive" player-kd="player.stats.killsDeathsRatio.basic.value"></div>
        <label class="data-label">Recent Matches</label>
      </div>
      <div class="player-quick-look__kd col-xs-3">
        <div class="player-quick-look__kd__nr">
          <span ng-bind="player.stats.killsDeathsRatio.basic.displayValue || 'N/A'"></span>
        </div>
        <label class="data-label">K/D</label>
      </div>
    </div>
  </div>
  <div class="player-main-stats">
    <div class="row">
      <div class="col-xs-3 stat">
        <span ng-bind="player.stats.activitiesWinPercentage.basic.displayValue || 'N/A'"></span>
        <label>Wins</label>
      </div>
      <div class="col-xs-3 stat">
        <span ng-bind="player.activities.streak || 'N/A'"></span>
        <span class="match player-main-stats__streak" ng-class="{'match--win': player.activities.recentActivity.standing === 0, 'match--loss': player.activities.recentActivity.standing === 1}"></span>
        <label>Streak</label>
      </div>
      <div class="col-xs-3 stat">
        <span ng-bind="player.ggg.elo || 'N/A'" data-template-url="views/popovers/gggElo.html" bs-popover="{content:player.ggg}"></span>
        <span>
          <a href="https://guardian.gg/en/faq" target="_blank"
             bs-popover="{content:'Elo is an account-wide rating system provided by Guardian.gg'}">
            <i class="material-icons">&#xE887;</i>
          </a>
        </span>
        <label>Elo Rating</label>
      </div>
      <div class="col-xs-3 stat">
        <span class="player-main-stats__lighthouse fail" ng-if="player.lighthouse !== true"><i class="material-icons">&#xE14C;</i></span>
        <span class="player-main-stats__lighthouse success" ng-if="player.lighthouse === true"><i class="material-icons">&#xE876;</i></span>
        <label>Flawless</label>
      </div>
    </div>
  </div>
  <!--<div class="player-hazards">-->
    <!--<div ng-repeat="hazard in player.nonHazard.concat(player.inventory.weapons.hazards, player.inventory.armor.hazards, player.inventory.subclass.hazards) track by $index"-->
         <!--ng-bind="hazard" ng-class="{'player-hazard--developer': hazard === 'Site Developer', 'player-hazard--donator': hazard === 'Site Donator'}"-->
         <!--bs-popover="{content:DestinyHazardDefinition[hazard]}" class="player-hazard">-->
    <!--</div>-->
    <!--<div class="player-hazard player-hazard--none">-->
      <!--This Guardian doesn't need cheap tricks-->
    <!--</div>-->
  <!--</div>-->
</div>
