.main {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  min-width: 1280px;
}

.controls {
  height: 100vh;
  min-width: 320px;
  width: 25vw;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  background: $header-bg;
  overflow-x: hidden;
  color: $text-on-dark;
  z-index: 99;
}

.content {
  height: 100vh;
  flex-grow: 1;
  display: flex;
  overflow-y: auto;
}


@media all and (max-width: 1280px) {
  .content {
    width: 100vw;
  }
}

@media all and (max-width: 1550px) {
  .players {
    margin: 0 !important;
  }
}

@media all and (max-width: 990px) {
  .content {
    width: 100vw;
    left: 0;
  }
  .controls {
    width: 85vw;
    min-width: 0;
  }
  .snap-drawer {
    width: 85vw;
  }
  .players {
    width: 100%;
  }
  .title-bar__title {
    font-size: 1.8em !important;
  }
  .title-bar {
    max-height: 80px;
  }
  .material-icons.light {
    color: white;
  }
}
