.main {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  overflow-y: auto;
}

.controls {
  min-height: 100vh;
  min-width: 300px;
  width: 25vw;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  background: $header-bg;
  overflow-x: hidden;
  color: $text-on-dark;
  z-index: 99;
}

.content {
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

@media all and (max-width: 1280px) {
  .wrapper {
    display: block;
    overflow: auto;
  }

  .controls {
    position: fixed;
    border-top-left-radius: 2em;
    border-top-right-radius: 2em;
    left: 50%;
    transform: translate(-50%, 0%);
    bottom: 0;
    overflow-y: auto;
    right: 0;
    width: 100%;
    transition: transform cubic-bezier(.55,0,.1,1) .3s;
    height: 95vh;
    min-height: auto;
  }

  .content {
    width: 100%;
    filter: blur(2px);
    transition: filter linear .3s;
  }

  .overlay {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.75);
    z-index: 50;
    transition: opacity linear .3s;
  }

  .focus-on-players {
    .controls {
      transform: translate(-50%, calc(100% - 3em));
      overflow-y: hidden;
    }

    .content {
      filter: blur(0px);
    }

    .overlay {
      opacity: 0;
      pointer-events: none;
    }
  }
}
