@media all and (max-width: 340px) {
  body {
    font-size: 12px;
  }
}

.main {
  width: 100vw;
  height: 100vh;
}

.wrapper {
  display: flex;
  align-items: stretch;
  overflow-y: auto;
}

.controls-wrapper {
  min-height: 100vh;
  min-width: 300px;
  width: 25vw;
  max-width: 420px;
  overflow-x: hidden;
  z-index: 99;
  display: flex;
  pointer-events: none;
}

.controls {
  pointer-events: auto;
  width: 100%;
  background: $header-bg;
  display: flex;
  flex-direction: column;
  color: $text-on-dark;
  flex-grow: 1;
}

.content {
  min-height: 100vh;
  flex-grow: 1;
  display: flex;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  display: none;
  z-index: 60;
}

@media all and (max-width: 1280px) {
  .wrapper {
    display: block;
    overflow: auto;
    min-height: 100vh;
  }

  .overlay {
    display: block;
    opacity: 1;
    transition: opacity linear .5s;
  }

  .controls-wrapper {
    position: relative;
    width: 100%;
    max-width: none;
    min-height: 100vh;
    padding: 3em 15px 0 15px;
    box-shadow: none;
    transition: transform cubic-bezier(.55,0,.1,1) .5s;
    transform: translateY(0%);
    will-change: transform;
  }

  .controls {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
    max-width: 420px;
    margin: 0 auto;
  }

  .content {
    position: fixed;
    width: 100%;
    pointer-events: none;
    top: 0;
  }

  .wrapper {
    overflow: hidden;
  }

  .focus-on-players {
    .controls-wrapper {
      position: fixed;
      transform: translateY(120vh);
    }

    .overlay {
      opacity: 0;
      pointer-events: none;
    }

    .content {
      position: static;
      pointer-events: auto;
    }
  }
}
