.main-title {
  font-weight: 300;
  margin: 0;
  font-size: 2em;
  line-height: 2em;
  display: inline-block;

  a {
    color: white;
  }

  a:hover,
  a:focus,
  a:active {
    text-decoration: none;
  }
}

@media all and (max-width: 767px) {
  .main-title {
    text-align: center;
    margin: auto;
  }
}

.highlight {
  color: $trials-gold;
}
