<div class="domain-switch">
  <a type="button" class="btn btn-default" ng-if="!subdomain" href="http://my.destinytrialsreport.com" target="_self"><span class="highlight">my</span>Report</a>
  <a type="button" class="btn btn-default" ng-if="subdomain" href="http://www.destinytrialsreport.com" target="_self"><span class="highlight">trials</span>Report</a>
</div>

<div class="donate">
  <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=A3T6F2QDXUTCN" target="_blank">
    <div class="donate__title">
      Help us run this site, donate with <img src="/images/paypal.svg" alt="PayPal">
    </div>
    <div class="donate__descr">
      You get a sexy <div class="player-hazard player-hazard--donator">Donator</div> badge if you leave your gamertag with the donation!</label>
    </div>
  </a>
</div>

<div class="colofon">
  <div class="colofon__copyright">
    © 2015 Destiny<span class="highlight">Trials</span>Report
  </div>
  <div class="colofon__email">
    <a href="mailto:destinytrialsreport@gmail.com" target="_blank"><i class="material-icons">&#xE158;</i></a>
  </div>
  <div class="colofon__contribute">
    <a href="https://github.com/DestinyTrialsReport/DestinyTrialsReport" target="_blank">
      <img src="images/github.svg" alt="GitHub">
    </a>
  </div>
</div>

<div class="ad">
  <div adsense></div>
</div>
