<div class="header b-0">
  <div class="navbar navbar-default bg-darkgray lt b-0" role="navigation">
    <div class="container-fluid">
      <div class="row mt-20 mb-20">
        <!--<div class="hidden-xs hidden-sm col-md-2 m-0 p-0" style="left: -13% !important;margin-top: 3px !important;">-->
          <!--<a href="/" target="_self" style="text-decoration: none;"><h3 class="text-light text-white lato m-0 p-0" style="margin-right: 80px !important;">-->
            <!--<span class="hidden-sm">Destiny</span><span class="text-trialsgold">Trials</span>Report-->
          <!--</h3></a>-->
        <!--</div>-->
        <div class="hidden-xs hidden-sm col-md-3 col-md-offset-1">
          <a href="/" target="_self" style="text-decoration:none">
            <h3 class="text-light logo text-white lato m-0 p-0">
              <span class="logo-destiny">Destiny</span><span class="text-trialsgold">Trials</span>Report
            </h3>
          </a>
        </div>
        <div class="col-xs-12 col-md-4">
          <form ng-submit="searchPlayerbyName(mainPlayer, platformValue, 0, true)">
            <div class="input-group">
              <span class="input-group-btn"
                    data-intro="Toggle between PSN and XBL platforms"
                    data-position="left"
                    chardin-show="true">
                <label class="btn btn-default" ng-model="platformValue" btn-radio="true">PS<span class="hidden-xs">N</span></label>
                <label class="btn btn-default" ng-model="platformValue" btn-radio="false">XB<span class="hidden-xs">L</span></label>
              </span>
              <input type="text" class="form-control" placeholder="Enter profile name" ng-model="mainPlayer">
              <span class="input-group-btn">
                <button type="submit" class="btn btn-default" ng-disabled="status">Search</button>
              </span>
            </div>
          </form>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 text-right">
          <button type="button" class="btn btn-default" ng-click="toggleOverlay()" ng-show="fireteam">Help</button>
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#mapModal">Map</button>
        </div>
      </div>
    </div>
  </div>
</div>
