<!--<div class="header-bar shadow-z-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12 header-bar__content">
        <h1 class="main-title">
          <a href="/" target="_self">
            <span ng-if="subdomain == 'my'" class="highlight">my</span>Destiny<span class="highlight">Trials</span>Report
          </a>
        </h1>
        <div class="header__actions hidden-xs">
          <button type="button" class="btn" data-toggle="modal" data-target="#mapModal">Map</button>
          <a type="button" class="btn my-report" ng-if="subdomain != 'my'"
             href="http://my.destinytrialsreport.com" target="_self">
            <span class="highlight">my</span>Report
          </a>
          <a type="button" class="btn my-report" ng-if="subdomain == 'my'"
             href="http://www.destinytrialsreport.com" target="_self">
            <span class="highlight">trials</span>Report
          </a>
        </div>
      </div>
    </div>
  </div>
</div>-->

<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a href="/" target="_self" class="navbar-brand">
        <span ng-if="subdomain == 'my'" class="highlight">my</span>Destiny<span class="highlight">Trials</span>Report
      </a>
    </div>
    <div class="collapse navbar-collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><button type="button" class="btn btn-default navbar-btn" data-toggle="modal" data-target="#mapModal">Map</button></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a type="button" class="btn btn-default" ng-if="subdomain != 'my'" href="http://my.destinytrialsreport.com" target="_self"><span class="highlight">my</span>Report</a></li>
        <li><a type="button" class="btn btn-default" ng-if="subdomain == 'my'" href="http://www.destinytrialsreport.com" target="_self"><span class="highlight">trials</span>Report</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="main-search shadow-z-1">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xs-12">
        <div class="main-search__content">
          <div class="main-search__toggle">
            <div class="togglebutton">
              <label>
                <label ng-click="platformValue = true">PS<span class="hidden-xs">N</span></label>
                <input type="checkbox" ng-model="platformValue" ng-true-value="false" ng-false-value="true">
                <label ng-click="platformValue = false">XB<span class="hidden-xs">L</span></label>
              </label>
            </div>
          </div>
          <div class="main-search__fireteam">
            <form ng-submit="searchPlayerbyName(mainPlayer, platformValue, 0, true)">
              <div class="main-search__row">
                <div class="main-search__input">
                  <input type="text" class="form-control" placeholder="Enter profile name" ng-model="mainPlayer" ng-value="searchedPlayer">
                </div>
                <div class="main-search__controls">
                  <div class="main-search__refresh hidden-xs" ng-if="subdomain != 'my'" ng-show="fireteam[0].name != null">
                    <div class="btn-group">
                      <button class="btn btn-default btn-icon" type="button" ng-click="refreshInventory(fireteam)"
                              analytics-on analytics-event="Click" analytics-category="Refresh Inventory">
                        <i class="material-icons">cached</i>
                      </button>
                    </div>
                  </div>
                  <div class="main-search__submit">
                    <button type="submit" class="hidden-sm hidden-md hidden-lg btn btn-default btn-icon" ng-disabled="status"><i class="material-icons">send</i></button>
                    <button type="submit" class="hidden-xs btn btn-default btn-raised" ng-disabled="status">Search</button>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
