<div class="header b-0 shadow-z-1">
  <div class="navbar navbar-default bg-darkgray lt b-0 br-0 mb-5" role="navigation">
    <div class="container-fluid">
      <div class="row mt-20 mb-20">
        <div class="hidden-xs hidden-sm col-md-3 col-md-offset-1">
          <a href="/" target="_self" style="text-decoration:none">
            <h3 class="text-light logo text-white lato m-0 p-0">
              <span class="text-lg text-trialsgold">my</span><span class="logo-destiny">Destiny</span><span class="text-trialsgold">Trials</span>Report
            </h3>
          </a>
        </div>
        <div class="col-xs-12 col-md-4">
          <form ng-submit="searchPlayerbyName(mainPlayer, platformValue, 0, true)">
            <div class="input-group">
              <span class="input-group-btn"
                    data-intro="Toggle between PSN and XBL platforms"
                    data-position="left"
                    chardin-show="true">
                <label class="btn btn-material-grey" ng-model="platformValue" btn-radio="true">PS<span class="hidden-xs">N</span></label>
                <label class="btn btn-material-grey" ng-model="platformValue" btn-radio="false">XB<span class="hidden-xs">L</span></label>
              </span>
              <div class="form-control-wrapper ml-0 mr-0">
                <input type="text" class="form-control pl-10 pr-10" placeholder="Enter profile name" ng-model="mainPlayer" style="height: 34px; z-index: 0;">
              </div>
              <!--<input type="text" class="form-control floating-label" placeholder="Enter a Guardian's name" ng-model="mainPlayer">-->
              <span class="input-group-btn">
                <button type="submit" class="btn btn-material-grey" ng-disabled="status">Search</button>
              </span>
            </div>
          </form>
        </div>
        <div class="hidden-xs hidden-sm col-md-3 text-right">
          <button type="button" class="btn btn-material-grey mt-0" ng-click="toggleOverlay()" ng-show="fireteam">Help</button>
        </div>
      </div>
    </div>
  </div>
</div>
