<div class="player-tab--last-matches" ng-class="{'blur': !player.activities.lastMatches}">
  <svg class="spinner" width="65px" height="65px" viewBox="0 0 66 66" xmlns="http://www.w3.org/2000/svg" ng-class="{'hide': player.activities.lastMatches}">
    <circle class="path" fill="none" stroke-width="6" stroke-linecap="round" cx="33" cy="33" r="30"></circle>
  </svg>
  <div class="player-tab__section">
    <div class="row">
      <div class="last-match__result col-xs-4" ng-repeat="match in player.activities.lastMatches">
        <span class="match" ng-class="{'match--win': match.standing === 0, 'match--loss': match.standing === 1}"></span>
        <span class="last-match__score">
          <span class="last-match__score--team" ng-bind="match.values.teamScore.basic.value"></span>
          -
          <span class="last-match__score--opponents" ng-bind="match.values.enemyScore.basic.value"></span>
        </span>
        <span class="last-match__date" ng-bind="match.values.dateAgo"></span>
      </div>
    </div>
  </div>
  <div match-stats="player.activities.lastMatches"
       player-abilities="player.inventory.subclass.abilities"
       ng-if="player.activities.lastMatches">
  </div>
</div>
