<div class="player-tab__section">
  <div class="row stat-row">
    <div class="col-xs-3 stat">
      <span ng-bind="allStats.kills.count || 0"></span>
      <label>Kills</label>
    </div>
    <div class="col-xs-3 stat">
      <span ng-bind="allStats.deaths.count || 0"></span>
      <label>Deaths</label>
    </div>
    <div class="col-xs-3 stat">
      <span ng-bind="allStats.assists.count || 0"></span>
      <label>Assists</label>
    </div>
    <div class="col-xs-3 stat">
      <span ng-bind="allStats.precisionKills.count || 0"></span>
      <label>Headshots</label>
    </div>
  </div>
  <div class="row stat-row">
    <div class="col-xs-3 stat">
      <span ng-bind="(allStats.killsDeathsAssists.count/matchCount | number:2) || 0"></span>
      <label>KA/D</label>
    </div>
    <div class="col-xs-3 stat">
      <span ng-bind="(allStats.killsDeathsRatio.count/matchCount  | number:2) || 0"></span>
      <label>K/D</label>
    </div>
    <div class="col-xs-3 stat">
      <span ng-bind="allStats.resurrectionsPerformed.count || 0"></span>
      <label>Revives</label>
    </div>
    <div class="col-xs-3 stat">
      <!-- this really needs to be changed to 'Xm Xs' format -->
      <span ng-bind="(allStats.averageLifespan.count/matchCount | secondsToDateTime | date:'mm:ss') || '0s'"></span>
      <label>Lifespan</label>
    </div>
  </div>
</div>
<div class="player-tab__section">
  <div class="row">
    <div class="last-match-weapon col-xs-12" ng-repeat="weapon in weapons track by $index">
      <div class="row">
        <div class="col-xs-6 last-weapon-weapon__descr">
          <img class="last-match-weapon__img img-responsive" ng-src="{{weapon.icon}}" alt="{{weapon.name}}">
          <span class="last-match-weapon__title" ng-bind="weapon.name"></span>
        </div>
        <div class="col-xs-2 stat">
          <span ng-bind="weapon.uniqueWeaponKills"></span>
          <label>Kills</label>
        </div>
        <div class="col-xs-4 stat">
          <span ng-bind="weapon.uniqueWeaponPrecisionKills"></span>
          <label>Headshots</label>
        </div>
      </div>
    </div>
    <div class="last-match-weapon last-match-weapon--{{specialWeapon.id}} col-xs-12" ng-repeat="specialWeapon in abilityKills track by $index"
         ng-if="getWeaponTitle(specialWeapon.id)">
      <div class="row">
        <div class="col-xs-6 last-weapon-weapon__descr">
          <span class="last-match-weapon__img" ng-style="{'background-image':'url(\'' + specialWeapon.icon + '\')'}"></span>
          <span class="last-match-weapon__title" ng-bind="specialWeapon.name"></span>
        </div>
        <div class="col-xs-2 stat">
          <span ng-bind="specialWeapon.count"></span>
          <label>Kills</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="player-tab__section">
  <div class="row">
    <div class="col-xs-2 last-match__medal" ng-repeat="medal in medals track by $index"
         title="{{medal.name}}" data-content="{{medal.description}}" bs-popover>
      <img class="img-responsive" ng-src="{{'https://www.bungie.net' + medal.icon}}" alt="{{medal.name}}">
      <div class="last-match__medal-count"><sup>x</sup><span ng-bind="medal.count"></span></div>
    </div>
  </div>
</div>
