.edit-player {
  z-index: 2;
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  top: 0;
  bottom: 0;
  width: 100%;
  border-radius: 1em;
  transition: opacity ease .2s, transform ease .2s;
  transform: scale(1.05);

  opacity: 0;
  pointer-events: none;
}

.edit-player__input {
  font-size: 1.05em;
  margin-left: 5.5em;
  height: 5em;
  vertical-align: middle;
  margin-top: .9em;

  button[type="submit"] {
    float: right;
    display: inline-block;
    margin: 0;
    margin-right: 1em;
  }
}

.edit-player__input input {
  height: 2em;
  width: calc(100% - 3.5em);
  display: inline-block;
  padding: 0;
  line-height: 1.4em;
  font-weight: normal;
  font-size: 1.3em;
  letter-spacing: -.75px;
  background-image: linear-gradient(#2196F3, #2196F3), linear-gradient(#333, #333);

  &:focus {
    height: 2em;
    background-image: linear-gradient(#2196F3, #2196F3), linear-gradient(#333, #333);
  }
}

.player.is-editing {
  .player__emblem,
  .player__main-stats,
  .player__history,
  .player__hazards,
  .player-tabs,
  .player-links,
  .player__char {
    filter: blur(2px);
  }

  .player__info {
    .player__gamertag,
    .player__kd,
    .player__edit {
      opacity: 0;
    }
  }

  .edit-player {
    opacity: 1;
    pointer-events: auto;
    transform: scale(1);
  }
}

.edit-player__actions {
  text-align: center;

  .dropdown-menu {
    left: 50%;
    transform: translateX(-50%);
    margin-top: -.5em;
  }
}
