.gear {
  padding: 1em;
  background: linear-gradient( 180deg, darken($weapons-background, 5%), white);
  border-top: 1px solid lighten($weapons-background, 10%);
}

.gear__stats {
  margin-bottom: 1.2em;
}

.gear__stat {
  height: 1.5em;
  position: relative;

  &:not(:first-child) {
    margin-top: .75em;
  }
}

.gear-stat__label {
  text-transform: uppercase;
  font-family: 'Roboto Condensed';
  color: #666;
  line-height: 1.5em;
  width: 6em;
  float: left;
}

.gear-stat__nr {
  position: absolute;
  top: 50%;
  width: 100%;
  padding-left: 6em;
  transform: translateY(-50%);
}

.gear-stat__nr .progress {
  border-radius: 3px;
  overflow: hidden;
  height: 5px;
  margin: 0;
}

.gear-stat__nr .progress-bar {
  text-align: left;
}

.gear-stat__perc {
  padding-left: .5em;
}

.gear__perks {
  padding: 1em 0;
  box-shadow: 0 -1px 0 darken($weapons-background, 10%);
  border-top: 1px solid lighten($weapons-background, 10%);
  border-bottom: 1px solid darken($weapons-background, 5%);
}

.gear__armor {
  border-top: 1px solid lighten($weapons-background, 10%);
  padding-top: 1em;
}

.gear-perk {
  white-space: nowrap;
  margin: .25em 0;
}

.gear-perk__icon {
  width: 1.5em;
  background: $perk-background;
  display: inline-block;
  margin-right: .3em;
  border-radius: 5px;
  padding: 3px;
}

.gear-perk__title {
  white-space: nowrap;
  font-family: 'Roboto Condensed';
  font-size: .8em;
  line-height: 1;
  color: $perk-background;
}
