.main-search {
  background: white;
  padding: 1em 0;
}

.main-search__content {
  display: flex;
  flex-direction: row;
}

.main-search__toggle {
  padding: 18px 2em 18px 0;
  flex-shrink: 0;

  label {
    margin-bottom: 0;
  }

  .toggle {
    margin-left: 10px;
  }

  .togglebutton label input[type=checkbox]+.toggle,
  .togglebutton-default label input[type=checkbox]+.toggle {
    background: transparentize($playstation-main, 0.5);

    &:after {
      background: $playstation-main;
    }
  }

  .togglebutton label input[type=checkbox]:checked+.toggle,
  .togglebutton-default label input[type=checkbox]:checked+.toggle {
    background: transparentize($xbox-main, 0.5);

    &:after {
      background: $xbox-main;
    }
  }
}

.main-search__fireteam {
  flex-grow: 1;
}

.main-search__row {
  display: flex;
  flex-direction: row;
}

.main-search__controls {
  flex-shrink: 1;

  > div {
    display: inline-block;
  }

  .input-group-btn {
    width: auto;
  }
}

.main-search__input {
  flex-grow: 1;
  padding-right: 2em;

  input {
    margin: 10px 0;
    height: auto !important;
    line-height: 2.6em;
  }
}

.main-search__replace {
  float: right;
  margin-left: 6px;
}
