.player-carousel__item {
  padding: 0 15px;
}

.slick-slider {
  margin-bottom: 0;
  overflow-x: hidden;
}

@media all and (max-width: 992px) {
  .slick-list {
    padding-left: 20px;
    padding-right: 20px;
    overflow: visible;
  }

  .player-carousel__item {
    padding: 0 10px;
  }
}

@media all and (max-width: 768px) {
  .slick-list {
    padding-left: 15px;
    padding-right: 15px;
  }

  .player-carousel__item {
    padding: 0 10px;
  }
}
