.stat {
  span {
    font-size: 1.2em;
    line-height: 1;
    white-space: nowrap;
  }

  label {
    @extend .data-label;
  }
}

.stat-row:not(:first-child) {
  margin-top: 1em;
}

.stat:nth-child(n+4) {
  margin-top: 1em;
}

.stat-row__header {
  margin-top: 1.5em;
  margin-bottom: -.5em;
  text-transform: uppercase;
  color: #999;
  font-family: 'Roboto Condensed';
}
