.stat {
  span {
    font-size: 1.2em;
    line-height: 1;
    white-space: nowrap;
  }

  label {
    font-family: 'Roboto Condensed';
    display: block;
    font-weight: 300;
    color: #999;
    text-transform: uppercase;
    font-size: .8em;
    margin-bottom: 0;
  }
}

.stat-row:not(:first-child) {
  margin-top: 1em;
}

.stat-row__header {
  margin-top: 1.5em;
  margin-bottom: -.5em;
  text-transform: uppercase;
  color: #999;
  font-family: 'Roboto Condensed';

  &:first-child {
    margin-top: 0em;
  }
}
