.player-tabs {
  overflow: hidden;

  ul {
    overflow: hidden;
    margin-bottom: -1px;
    background: #90A4AE;
  }

  li {
    width: 33.33%;
    @include inset-shadow();
    text-align: center;
    background: #90A4AE;

    a,
    a:hover,
    a:focus {
      border-radius: 0;
      font-size: .9em;
      color: #fff !important;
      font-weight: 300;
      text-transform: uppercase;
      font-family: 'Roboto Condensed';
      transition: box-shadow linear .1s;
      white-space: nowrap;
      padding-left: 0;
      padding-right: 0;
    }

    &:first-child {
      width: 33.34%;
    }
  }

  li.active {
    z-index: 1;
    position: relative;
  }

  li.active a,
  li.active a:hover,
  li.active a:focus {
    color: #666 !important;
    box-shadow: 0px 0px 8px 0 rgba(0,0,0,0.5);
  }

  .tab-content {
    height: auto;
  }
}

.player-tab__section {
  padding: $player-content-padding;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, .7);
}

.player-tab--equipped {
  @include tab-background($equipped-background);

  ul &.active {
    background: $equipped-background;

    a,
    a:focus,
    a:active,
    a:hover {
      color: darken($equipped-background, 50%);
    }
  }
}

.player-tab--last-matches {
  @include tab-background($last-matches-background);

  ul &.active {
    background: $last-matches-background;

    a,
    a:focus,
    a:active,
    a:hover {
      color: darken($last-matches-background, 50%);
    }
  }
}

.player-tab--stats {
  @include tab-background($stats-background);

  ul &.active {
    background: $stats-background;

    a,
    a:focus,
    a:active,
    a:hover {
      color: darken($stats-background, 50%);
    }
  }
}

.player-tab--maps {
  @include tab-background($maps-background);

  ul &.active {
    background: $maps-background;

    a,
    a:focus,
    a:active,
    a:hover {
      color: darken($maps-background, 50%);
    }
  }
}
