.blog-post {
  max-width: 720px;
  margin: auto;
  background: #fff;
  padding: 2em;
  border-radius: 2em;
}

.blog-post__img {
  margin-left: -2em;
  margin-top: -2em;
  margin-right: -2em;
  border-top-left-radius: 2em;
  border-top-right-radius: 2em;
  background-position: center;
  background-size: cover;
  height: 200px;
}

.blog-post__meta {
  list-style: none;
  padding: 0;
  margin: 0;

  > li {
    display: inline;
    font-size: .9em;
    color: #a2a2a2;

    a {
      color: inherit;

      &:hover {
        color: #19b698;
      }
    }

    p, span {
      vertical-align: bottom;
    }

    span {
      font-size: 1.5em;
    }

    &:after {
      content: "/";
      margin: 0 .5em;
    }

    &:last-child:after {
      display: none;
    }
  }
}

.blog-post__content {
  margin-top: 2em;
}
