header {
  position: relative;
  z-index: 1;
  flex-grow: 1;
}

.header-bar {
  padding: .75em 0;

  .header-bar__content {
    display: flex;
    flex-direction: row;
  }
}

.domain-switch {
  border-bottom: 1px solid darken($header-bg, 5%);
  padding: 10px 5px;

  .btn.btn.btn {
    color: $controls-btn-color;
    padding: 8px 15px;
  }
}

.ad {
  padding: 1em;
  padding-top: 0;
  overflow: hidden;
}
