header {
  position: relative;
  z-index: 1;
  flex-grow: 1;
}

.header-bar {
  padding: .75em 0;

  .header-bar__content {
    display: flex;
    flex-direction: row;
  }
}

.domain-switch {
  margin-left: -9px;
  border-bottom: 1px solid darken($header-bg, 5%);

  .btn.btn.btn {
    color: $controls-btn-color;
  }
}

.ad {
  padding: 1em;
  padding-top: 0;
  overflow: hidden;
}

.controls__expand {
  border-top-left-radius: 1em;
  border-top-right-radius: 1em;
  cursor: pointer;
  text-align: center;

  i {
    transition: transform cubic-bezier(.55,0,.1,1) .3s;
    font-size: 2em;
    line-height: 1.5em;
    color: white;
  }

  .focus-on-players & i {
    transform: rotateZ(180deg);
  }
}
