.footer {
  color: $text-on-dark;
  z-index: 1;
  position: relative;
}

.footer__ad {
  margin-top: 1em;
  padding: 1em;
  overflow: hidden;
}

.footer__donate {
  flex-shrink: 0;
  white-space: nowrap;
  text-align: right;

  .footer__donate__header {
    padding-right: .46em;
  }

  form {
    text-align: right;
  }

  .player-hazard {
    vertical-align: .1em;
  }
}

.footer__colofon {
  white-space: nowrap;
  flex-shrink: 0;
}

.footer__colofon__copyright {
  font-size: 1.2em;
  margin-bottom: .3em;
  color: lighten($text-on-dark, 20%);
}

.footer__colofon__email {
  margin-bottom: .3em;

  a {
    color: $text-on-dark;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: white;
    }
  }
}

.footer__colofon__contribute {
  img {
    height: 1em;
    vertical-align: -.1em;
    margin-left: .1em;
  }

  a {
    color: $text-on-dark;

    &:hover,
    &:active,
    &:focus {
      text-decoration: none;
      color: white;
      filter: brightness(2);
    }
  }
}

.footer__donate__header {
  margin-bottom: 1em;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}

@media all and (max-width: 767px) {
  .footer__content {
    flex-wrap: wrap;
  }

  .footer__ad {
    order: -1;
    width: 100%;
    margin-bottom: 1em;
  }

  .footer__colofon {
    width: 50%;
  }

  .footer__donate {
    width: 50%;
  }
}

@media all and (max-width: 500px) {
  .footer__colofon {
    width: 100%;
    text-align: center;
    border-bottom: 1px solid darken($header-bg, 20%);
    box-shadow: 0 1px 0 lighten($header-bg, 20%);
    padding-bottom: 1em;
    margin-bottom: 1em;
  }

  .footer__donate {
    width: 100%;
    text-align: center;

    form {
      text-align: center;
    }
  }
}
