.main-search {
  background: white;
}

.main-search__fireteam {
  > form,
  > div {
    padding: .5em 1.5em
  }

  > form + div,
  > form + div + div {
    background: darken(white, 2%);
  }

  > form + div {
    @include mild-inset-shadow();
  }

  > form + div + div {
    border-top: 1px solid darken(white, 10%);
  }
}

.main-search__row {
  display: flex;
  flex-direction: row;
  margin-right: -9px;
}

.main-search__controls {
  flex-shrink: 1;

  > div {
    display: inline-block;
  }
}

.main-search__input {
  flex-grow: 1;
  padding-right: 1em;

  input {
    margin: 10px 0;
    height: auto !important;
    line-height: 2.6em;
  }
}

.main-search__replace {
  float: right;
  margin-left: 6px;
}
