.main-search {
  background: white;
  padding: $controls-padding;
  padding-top: .5em;
  padding-bottom: .5em;
}

.main-search__content {
  display: flex;
  flex-direction: row;
}

.main-search__fireteam {
  flex-grow: 1;
}

.main-search__row {
  display: flex;
  flex-direction: row;
}

.main-search__controls {
  flex-shrink: 1;

  > div {
    display: inline-block;
  }

  .input-group-btn {
    width: auto;
  }
}

.main-search__input {
  flex-grow: 1;
  padding-right: 2em;

  input {
    margin: 10px 0;
    height: auto !important;
    line-height: 2.6em;
  }
}

.main-search__replace {
  float: right;
  margin-left: 6px;
}
