.player__summary {
  > div {
    padding: .75em $player-content-padding;
    text-align: center;
    box-shadow: inset 0px 10px 8px -10px rgba(0,0,0,0.75);
  }

  .highly-skilled {
    background: #D50000;
    color: white;
  }

  .skilled {
    background: #F44336;
    color: white;
  }

  .above-average {
    background: #FF9800;
    color: white;
  }

  .average {
    background: #00B0FF;
    color: white;
  }

  .below-average {
    background: #8BC34A;
    color: white;
  }

  .has-other-qualities {
    background: #00C853;
    color: white;
  }
}
