.weapon {
  display: flex;
  margin: .25em 0;

  &:not(:first-child) {
    margin-top: 1em;
  }
}

.weapon__img {
  position: relative;
  flex-shrink: 0;
  width: 5em;
  height: 5em;

  img {
    border-radius: 5px;
  }

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    border-width: 0 0 1.25em 2em;
    border-style: solid;
    border-color: transparent $equipped-background;

    .weapon:nth-child(2) & {
      border-color: transparent darken($equipped-background, 5%);
    }

    .weapon:nth-child(3) & {
      border-color: transparent darken($equipped-background, 8%);
    }

    .weapon.armor & {
      border-color: transparent darken($equipped-background, 9%);
    }
  }

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-width: 1.25em 2em 0 0;
    border-style: solid;
    border-color: transparent darken($equipped-background, 2%);

    .weapon:nth-child(2) & {
      border-color: transparent darken($equipped-background, 7%);
    }

    .weapon:nth-child(3) & {
      border-color: transparent darken($equipped-background, 10%);
    }

    .weapon.armor & {
      border-color: transparent darken($equipped-background, 6%);
    }
  }
}

.weapon__title {
  margin-bottom: .4em;
}

.weapon__info {
  flex-grow: 1;
  padding-left: 1em;
  align-self: center;
}

.weapon-perk {
  text-transform: none;
  font-size: .9em;
  font-weight: 300;
  color: white;
  background: $perk-background;
  display: inline-block;
  margin-right: .5em;
  margin-bottom: .5em;
  border-radius: 5px;
  padding: 3px;
}

.weapon-perk__icon {
  float: left;
  height: 1.5em;
  width: 1.5em;
}

.weapon__label {
  font-size: .8em;
  margin-top: -.5em;
  text-transform: uppercase;
  color: lighten(#333, 40%);
  font-family: 'Roboto Condensed';
}
