.player {
  background: #fff;
  border-radius: 1em;
  position: relative;
}

.player__content {
  padding: $player-content-padding;
}

.player__edit {
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  transition: opacity ease .2s;
  cursor: pointer;
  position: absolute;
  margin-top: 1em;
  margin-right: 1em;
  right: 0;
  top: 0;
  height: 3em;
  width: 3em;
  text-shadow: 0px 2px 3px rgba(0,0,0,0.5);
  opacity: 0;
  animation: hint 4s;

  .player-header:hover & {
    opacity: 1;
  }

  i {
    position: relative;
    @include align-both;
    overflow: hidden;
  }
}

@media all and (max-width: 992px) {
  .player__edit {
    opacity: 0.6;
    animation: hintTouch 4s;

    .player__info:hover & {
      opacity: 1;
    }
  }
}

.player__links {
  box-shadow: inset 0px 10px 8px -10px rgba(0,0,0,0.25);
  background: transparentize(#eee, .3);
}

.player__links__btns.player__links__btns.player__links__btns {
  display: flex;

  a {
    font-size: .9em;
    color: #999;
    display: block;
    flex-grow: 1;
    text-transform: none;
    margin: 0;
    padding: 1em 1em;

     &:first-child {
      border-bottom-left-radius: 1em;
    }

    &:nth-child(2) {
      border-bottom-right-radius: 1em;
    }
  }
}

ul[rn-carousel] {
  padding-left: 5%;
  padding-right: 5%;
  margin-bottom: -3px;
  padding-bottom: 3px;
}

ul[rn-carousel] > li {
  position: relative;
  margin-left: -100%;
}

ul[rn-carousel] > li:first-child {
  margin-left: 0;
}

ul[rn-carousel] img {
  max-width: 100%;
}

ul[rn-carousel] > li {
  padding-left: 5px;
  padding-right: 5px;
}
