.player-main-stats {
  padding: $player-content-padding;
  border-top: 1px solid #eee;

  .player.with-overlay &,
  .player.is-virgin & {
    @include overlay-modifiers();
  }
}

.player-main-stats__streak {
  width: 10px;
  height: 10px;
  margin-left: .1em;
}

.player-main-stats__lighthouse {
  i {
    font-size: .9em;
  }
}
