.players-wrapper {
  overflow: hidden;
  margin: auto;
  min-height: 100vh;
}

.players {
  white-space: nowrap;
  transition: transform cubic-bezier(.55,0,.1,1) .3s;
  perspective: 1000px;
  backface-visibility: hidden;
}

.player-container {
  vertical-align: top;
  white-space: normal;
  display: inline-block;
  padding: 1em;
  width: 25vw;
  min-width: 280px;
  max-width: 380px;

  &:nth-child(1) {
    padding-right: .333em;
  }

  &:nth-child(2) {
    padding: 1em .667em;
  }

  &:nth-child(3) {
    padding-left: .333em;
  }
}

.player-shift-focus {
  position: fixed;
  height: 100%;
  width: 5vw;
  z-index: 50;
  opacity: 0;
  pointer-events: none;
  transition: opacity linear .3s;
  background: linear-gradient( to right, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));
  cursor: pointer;

  &:hover {
    background: linear-gradient( to right, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
}

.player-shift-focus--right {
  right: 0;
  background: linear-gradient( to left, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0));

  &:hover {
    background: linear-gradient( to left, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
  }
}

@media all and (max-width: 1280px) {
  .player-container {
    width: 33vw;
  }
}


@media all and (max-width: 960px) {
  .player-container {
    width: 48vw;
    max-width: none;
  }

  .focus-on-player-one {
    .player-shift-focus--right {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .focus-on-player-three {
    .player-shift-focus--left {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .focus-on-player-three .players {
    transform: translateX(-44vw);
  }
}


@media all and (max-width: 640px) {
  .player-container {
    width: 95vw;
  }

  .focus-on-player-two .players {
    transform: translateX(-92.5vw);
  }

  .focus-on-player-three .players {
    transform: translateX(-186vw);
  }

  .focus-on-player-two,
  .focus-on-player-one {
    .player-shift-focus--right {
      opacity: 1;
      pointer-events: auto;
    }
  }

  .focus-on-player-two,
  .focus-on-player-three {
    .player-shift-focus--left {
      opacity: 1;
      pointer-events: auto;
    }
  }
}

.player {
  background: #fff;
  border-radius: 1em;
  position: relative;

  &.is-invalid {
    .player-overlay__close {
      display: none;
    }

    .edit-player__input {
      margin-left: $player-content-padding * 2;
    }

    .edit-player__input input[type="text"] {
      margin-top: -.1em;
    }
  }
}

.player__content {
  padding: $player-content-padding;
}

.player__links {
  box-shadow: inset 0px 10px 8px -10px rgba(0,0,0,0.25);
  background: transparentize(#eee, .3);

  .with-overlay & {
    @include overlay-modifiers();
  }
}

.player__links__btns.player__links__btns.player__links__btns {
  display: flex;

  a {
    font-size: .9em;
    color: #999;
    display: block;
    flex-grow: 1;
    text-transform: none;
    margin: 0;
    padding: 1em 1em;

     &:first-child {
      border-bottom-left-radius: 1em;
    }

    &:nth-child(2) {
      border-bottom-right-radius: 1em;
    }
  }
}
