.title-bar {
  padding: $controls-padding;
  padding-top: 2em;
  padding-bottom: 2em;
  display: flex;
  align-items: center;
  background: darken($header-bg, 5%);
}

.title-bar__title {
  font-size: 1.7em;
  line-height: 1.4;
  flex-grow: 1;

  a,
  a:hover,
  a:focus,
  a:active {
    color: white;
    text-decoration: none;
  }
}

@media all and (max-width: 1500px) {
  .title-bar__title {
    font-size: 1.5em;
  }
}

@media all and (max-width: 1380px) {
  .title-bar__title {
    font-size: 2em;
    line-height: 1.1;

    .hide-on-small {
      display: none;
    }
  }
}
