<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <article class="blog-post shadow-z-1">
        <div class="blog-post__img">
          <img ng-src="{{currentMap.headerWideImage}}" class="img-responsive" alt="{{currentMap.activityName}}">
        </div>
        <div class="blog-post__title">
          <h2>Gearing up for 2.0</h2>
        </div>
        <ul class="blog-post__meta">
          <li>
            <p><span class="material-icons">&#xE8DF;</span> September 10th, 2015</p>
          </li>
        </ul>
        <div class="blog-post__content">
          <p>
            Just in case you haven't heard the news, <strong>Trials is taking a break for the next few weeks.</strong><br/>
            We haven't received any information about the return date but we promise to keep you posted as soon as that's announced.
          </p>
          <p>
            The <strong>good news</strong> is that this gives us some time to update our UI with all the 2.0 changes.<br/>
          </p>
          <p>
            We will be actively making changes so pardon our dust for the remainder of the downtime.<br/>
            That being said, the amount of new gear and features in TTK is going to be overwhelming and we welcome all suggestions.<br/>
          </p>
          <p>
            Contact info below, see everyone soon!<br/>
          </p>
          <p>
            <strong>If you come across any issue, error, or just want to send us a suggestion you can
            <a href="mailto:destinytrialsreport@gmail.com" target="_top">email</a> us or open a ticket on
            <a href="https://github.com/SteffanLong/DestinyTrialsReport" target="_top">GitHub</a>.</strong>
          </p>
        </div>
      </article>
    </div>
  </div>
</div>
