<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <article class="post-entry shadow-z-1">
        <div class="entry-image">
          <img src="/images/burning_shrine.jpg" class="img-responsive" alt="Image">
        </div>
        <div class="entry-title">
          <h2 >Introducing: myDestinyTrialsReport</h2>
        </div>
        <ul class="entry-meta clearfix">
          <li>
            <i class="fa fa-calendar-o"></i>
            11th Aug 2015
          </li>
        </ul>
        <div class="entry-content mt-10">
          <p>
            Since we have seen a lot of interest in sharing your own stats through our app we have made it a little bit easier for you.
          </p>
          <p>
            <strong>my.DestinyTrialsReport.com</strong> works just like our fireteam search but instead of partnering you up with your
            recent trials teammates we group you with your other characters.
          </p>
          <p>
            Navigate to <strong><a href="http://my.DestinyTrialsReport.com" target="_top">http://my.DestinyTrialsReport.com/</a> </strong>
            and use the search.
          </p>
          <p>
            <strong>If you come across any issue, error, or just want to send us a suggestion you can
            <a href="mailto:destinytrialsreport@gmail.com" target="_top">email</a> us or open a ticket on
            <a href="https://github.com/SteffanLong/DestinyTrialsReport" target="_top">GitHub</a>.</strong>
          </p>
        </div>
      </article>
    </div>
  </div>
</div>
