@import 'inc/vars';
@import 'inc/fonts';
@import 'inc/colors';
@import 'inc/icons';
@import 'inc/mixins';
@import 'inc/animations';

@import 'vendor/theme-override';

@import 'main/layout';
@import 'main/typography';
@import 'main/buttons';

@import 'elements/loading';
@import 'elements/popover';
@import 'elements/tabs';
@import 'elements/stats';
@import 'elements/match';
@import 'elements/modal';
@import 'elements/carousel';
@import 'elements/dropdown-menu';
@import 'elements/block';

// Main parts
@import 'parts/controls';
@import 'parts/title-bar';
@import 'parts/main-search';
@import 'parts/blog-post';
@import 'parts/player-overlay';
@import 'parts/current-map';
@import 'parts/platform-toggle';
@import 'parts/donate';
@import 'parts/colofon';
@import 'parts/home';
@import 'parts/top-weapons';

// Player card
@import 'parts/player';
@import 'parts/edit-player';
@import 'parts/player-overview';
@import 'parts/player-quick-look';
@import 'parts/player-main-stats';
@import 'parts/player-hazards';
@import 'parts/recent-players';

// Equipped tab
@import 'parts/player-weapons';
@import 'parts/player-cooldowns';
@import 'parts/player-perks';
@import 'parts/player-armor';

// Last matches tab
@import 'parts/player-last-matches';

// Stats tab
@import 'parts/player-stats';

// Maps tab
@import 'parts/player-maps';

$offset: 187;
$duration: 1.4s;

.blur {
  filter: blur(2px);
}

.hide {
  display: none;
}

.spinner {
  position: absolute;
  left: 40%;
  top: 60%;
  animation: rotator $duration linear infinite;
}

@keyframes rotator {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(270deg); }
}

.path {
  stroke-dasharray: $offset;
  stroke-dashoffset: 0;
  transform-origin: center;
  animation:
  dash $duration ease-in-out infinite,
  colors ($duration*4) ease-in-out infinite;
}

@keyframes colors {
  0% { stroke: #4285F4; }
  25% { stroke: #DE3E35; }
  50% { stroke: #F7C223; }
  75% { stroke: #1B9A59; }
  100% { stroke: #4285F4; }
}

@keyframes dash {
  0% { stroke-dashoffset: $offset; }
  50% {
    stroke-dashoffset: $offset/4;
    transform:rotate(135deg);
  }
  100% {
    stroke-dashoffset: $offset;
    transform:rotate(450deg);
  }
}
