<div class="flex-container">
  <div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel">
    <div class="modal-dialog br-10" role="document">
      <img src="/images/ToO_BurningShrine_Heatmap.jpg" class="img-responsive" alt="Heatmap" />
    </div>
  </div>
  <ng-include src="headerPartial"></ng-include>
  <div class="container flex" ng-if="status">
    <div class="text-center alert alert-warning">
      <strong>{{status}}</strong>
    </div>
  </div>
  <div class="container flex" ng-if="!status">
    <div class="row">
      <ng-include src="'views/fireteam/index.html'" ng-show="fireteam[0]"></ng-include>
      <ng-include src="'views/blog/index.html'" ng-show="!fireteam[0]"></ng-include>
    </div>
  </div>
  <ng-include src="footerPartial"></ng-include>
</div>
