<div class="flex-container">
  <ng-include src="headerPartial"></ng-include>
  <div class="container flex" ng-if="status">
    <div class="text-center alert alert-warning">
      <strong>{{status}}</strong>
    </div>
  </div>
  <div class="container flex" ng-if="!status">
    <div class="row">
      <ng-include src="'views/profile/blog.html'" ng-show="!fireteam[0]"></ng-include>
      <ng-include src="'views/profile/index.html'" ng-show="fireteam[0]"></ng-include>
    </div>
  </div>
  <ng-include src="'views/shared/footer.html'"></ng-include>
</div>
