<div class="col-xs-12 player-wrapper col-md-4 {{singleResult ? 'col-md-offset-4' : ''}}" ng-if="fireteam[0].name && $index < 3" ng-repeat="player in fireteam track by $index">
  <div class="row" style="height:18px">
    <div class="col-xs-12">
          <span class="label bg-danger"
                style="margin-right:2px"
                ng-repeat="hazard in player.weapons.hazards.concat(player.armors.hazards, player.classNodes.hazards) track by $index"
                ng-bind="hazard"
                popover="{{DestinyHazardDefinition[hazard]}}"
                popover-trigger="mouseenter">
          </span>
    </div>
  </div>
  <section class="tile tile-simple player " ng-class="helpOverlay && ($middle || singleResult) ? 'z99999999' : 'z000000'">
    <div class="tile-body p-0">
      <ng-include src="'views/profile/player.html'"></ng-include>
    </div>
  </section>
</div>
