<div class="player shadow-z-1">
  <ng-include src="infoPartial"></ng-include>

  <tabset class="player-tabs">
    <tab heading="Equipped" analytics-on analytics-event="Click" analytics-category="Equipped">
      <ng-include src="'views/fireteam/weapons.html'"></ng-include>
      <ng-include src="'views/fireteam/gear.html'"></ng-include>
    </tab>
    <tab heading="Maps" analytics-on analytics-event="Click" analytics-category="Maps">
      <ng-include src="'views/fireteam/maps.html'"></ng-include>
    </tab>
    <tab heading="Stats" analytics-on analytics-event="Click" analytics-category="Stats">
      <ng-include src="'views/fireteam/addStats.html'"></ng-include>
    </tab>
  </tabset>

  <div class="player__links">
    <div class="row">
      <div class="col-xs-12 player__links__btns">
        <a href="http://www..destinytrialsreport.com/{{player.membershipType === 2 ? 'ps' : 'xbox'}}/{{player.name}}"
           type="button" target="_blank" class="btn btn-default"
           analytics-on analytics-event="Click" analytics-category="myDestinyTrialsReport">
          myTrialsReport
        </a>
        <a href="http://destinytracker.com/destiny/playlists/{{player.membershipType === 2 ? 'ps' : 'xbox'}}/{{player.name}}/trialsOfOsiris"
           type="button" target="_blank" class="btn btn-default"
           analytics-on analytics-event="Click" analytics-category="DestinyTracker">
          DestinyTracker
        </a>
      </div>
    </div>
  </div>
</div>
