  <!--<table class="table table-condensed">-->
    <!--<thead>-->
    <!--<tr>-->
      <!--<th>Standing</th>-->
      <!--<th>Kills</th>-->
      <!--<th>Assists</th>-->
      <!--<th>K/D</th>-->
      <!--<th>Date</th>-->
    <!--</tr>-->
    <!--</thead>-->
    <!--<tbody>-->
    <!--<tr class="thin" ng-repeat="match in player.pastActivities">-->
      <!--<td>{{match.standing}}</td>-->
      <!--<td>{{match.kills}}</td>-->
      <!--<td>{{match.assists}}</td>-->
      <!--<td>{{match.kd}}</td>-->
      <!--<td>{{match.date}}</td>-->
    <!--</tr>-->
    <!--</tbody>-->
  <!--</table>-->
  <!--<div  morris-bar-chart-->
        <!--bar-data='player.pastActivities'-->
        <!--bar-xkey='date'-->
        <!--bar-ykeys='["kills", "deaths"]'-->
        <!--bar-labels='["Kills", "Deaths"]'-->
        <!--bar-colors='["#1693A5","#ff4a43"]' style="height: 250px; width: 360px"></div>-->
  <!--<div class="row" ng-repeat="medal in player.medals">-->
    <!--<div class="col-xs-2">-->
      <!--<a class="icon icon-default" style="margin:0px; width:22px; height:22px" popover="{{medalDefinitions[medal.id].statDescription}}" popover-trigger="mouseenter">-->
        <!--<img class="img-responsive" ng-src="{{('http://www.bungie.net' + medalDefinitions[medal.id].iconImage) || ''}}">-->
      <!--</a>-->
    <!--</div>-->
    <!--<div class="col-xs-10">-->
      <!--<span class="text-left text-sm">{{medalDefinitions[medal.id].statName}}</span>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="row" ng-repeat="weapon in player.playerWeapons">-->
    <!--<div class="col-xs-10">-->
      <!--<span class="text-left text-sm">{{weaponItems[weapon.referenceId].name}}</span>-->
      <!--<span class="text-left text-sm">kills: {{weapon.values.uniqueWeaponKills.basic.value}}</span>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
