<div class="gear">
  <div class="gear__stats row">
    <div class="gear__stat col-xs-4" data-content="{{player.intPercent}}%" bs-popover>
      <div class="gear-stat__label">
        Intellect
      </div>
      <div class="gear-stat__nr">
        <progress max="100" animate="true" class="progress not-rounded">
          <bar value="player.intPercent" class="progress-bar-primary">
            <!--<span class="gear-stat__perc">{{player.disPercent}}%</span>-->
          </bar>
        </progress>
      </div>
    </div>
    <div class="gear__stat col-xs-4" data-content="{{player.disPercent}}%" bs-popover>
      <div class="gear-stat__label">
        Discipline
      </div>
      <div class="gear-stat__nr">
        <progress max="100" animate="true" class="progress not-rounded">
          <bar value="player.disPercent" class="progress-bar-primary">
            <!--<span class="gear-stat__perc">{{player.disPercent}}%</span>-->
          </bar>
        </progress>
      </div>
    </div>
    <div class="gear__stat col-xs-4" data-content="{{player.strPercent}}%" bs-popover>
      <div class="gear-stat__label">
        Strength
      </div>
      <div class="gear-stat__nr">
        <progress max="100" animate="true" class="progress not-rounded">
          <bar value="player.strPercent" class="progress-bar-primary">
            <!--<span class="gear-stat__perc">{{player.disPercent}}%</span>-->
          </bar>
        </progress>
      </div>
    </div>
  </div>
  <div class="gear__perks row">
    <div class="gear-perk col-xs-6" ng-repeat="classNode in player.classNodes track by $index"
         data-content="{{classNode.description}}" bs-popover>
      <img class="gear-perk__icon img-responsive" ng-src="{{classNode.icon}}">
      <span class="gear-perk__title" ng-bind="classNode.name"></span>
    </div>
  </div>
  <div class="gear__armor">
    <ng-include src="'views/fireteam/armor.html'"></ng-include>
  </div>
</div>
