<ul rn-carousel class="image hidden-lg hidden-md hidden-sm" style="width: 400px;height: 823px;">
  <li class="col-xs-12 col-sm-6 col-md-4" ng-if="fireteam[0].name && $index < 3" ng-repeat="player in fireteam track by $index">
    <ng-include src="'views/fireteam/player.html'"></ng-include>
  </li>
</ul>
<div class="col-xs-12 col-sm-6 col-md-4 hidden-xs" ng-if="fireteam[0].name && $index < 3" ng-repeat="player in fireteam track by $index">
  <!--<div class="row ml-0 mr-0" ng-show="$index === 0">
    <div class="btn-group btn-group-justified shadow-z-1" style="height: 36px;">
      <div class="btn-group">
        <button class="btn btn-trials btn-material-blue-grey" type="button" ng-class="helpOverlay ? 'z99999999' : 'z000000'"
                ng-click="refreshInventory()"
                analytics-on analytics-event="Click" analytics-category="Refresh Inventory"
                data-intro="Refreshes inventory for all players<br/><em>(weapons, armor, class)</em>"
                data-position="right" chardin-show="true" data-class="hidden-xs hidden-sm">
          Refresh Inventory
        </button>
      </div>
      <div class="btn-group" ng-show="player.otherCharacters.length > 1">
        <button class="btn btn-white dropdown-toggle" type="button" id="characterSelect" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
          <span ng-bind="player.className"></span>
          <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" style="width:100%" aria-labelledby="characterSelect">
          <li ng-repeat="character in player.otherCharacters" ng-if="player.characterId !== character.characterId">
            <a ng-bind="character.className" ng-click="setRecentPlayer(character, 0, true)"
               analytics-on analytics-event="Click" analytics-category="Character Change">
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row" ng-hide="$index === 0">
    <div class="col-xs-12">
      <form class="form-horizontal" role="form" ng-submit="searchPlayerbyName(teammateName, platformValue, $index, false)">
        <div class="input-group mt-10 mb-10 shadow-z-1" ng-class="helpOverlay && ($index === 2) ? 'z99999999' : ''">
          <span ng-hide="recentPlayers" class="input-group-btn">
            <button class="btn btn-trials btn-white" type="button"
                    ng-click="suggestRecentPlayers()"
                    analytics-on analytics-event="Click"
                    analytics-category="Suggest Recent Players">
              Recent Players
            </button>
          </span>
          <div ng-show="recentPlayers" class="input-group-btn">
            <button class="btn btn-trials dropdown-toggle btn-white" style="margin-right:-2px" type="button"
                    id="dropdownMenuMobile{{($index)}}" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">
              Recent Players
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu btn-trials" aria-labelledby="dropdownMenuMobile{{$index}}">
              <li ng-repeat="player in recentPlayers track by $index">
                <a class="black-font" ng-bind="player.name" ng-click="setRecentPlayer(player, ($parent.$index))"
                   analytics-on analytics-event="Click" analytics-category="Recent From Dropdown">
                </a>
              </li>
            </ul>
          </div>
          <input type="text" class="form-control pl-10" placeholder="Search for..." ng-model="teammateName"
                 ng-class="helpOverlay && ($index === 2) ? 'z99999999' : 'z000000'"
                 style="height:36px">
          <div class="input-group-btn">
            <button class="btn btn-material-blue-grey" type="submit"
                    ng-class="helpOverlay && ($index === 2) ? 'z99999999' : 'z000000'"
                    data-intro="Clicking 'Suggest Other' will provide a list of players recently played with. If all else fails, you can type a player's name in the text box"
                    data-position="right" chardin-show="{{$index === 2}}" style="height:36px; margin-right:-1px">
              Search
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>

  <div class="row" style="height:18px">
    <div class="col-xs-12">
    </div>
  </div>-->
  <ng-include src="'views/fireteam/player.html'"></ng-include>
</div>
