<div ng-if="screenSize.xs">
  <ul rn-carousel>
    <li ng-repeat="player in fireteam track by $index" ng-include="'views/player/index.html'"></li>
  </ul>
</div>

<div ng-if="screenSize.sm">
  <ul rn-carousel>
    <li><div class="col-xs-12" ng-repeat="player in fireteam track by $index" ng-include="'views/player/index.html'"></div></li>
    <li><div class="col-xs-12"></div></li>
  </ul>
</div>

<div ng-if="screenSize.md || screenSize.lg">
  <div class="col-md-4"
       ng-controller="PlayerCtrl as Player"
       ng-repeat="player in fireteam track by $index"
       ng-model="player"
       ng-include="'views/player/index.html'"
       ng-class="{'col-md-offset-2': $first && fireteam.length == 2, 'col-md-offset-4': $first && fireteam.length == 1}">
  </div>
</div>
