<div class="card-container emblem" data-intro="Hovering over the playercard will reveal subclass perks"
     data-position="top" ng-attr-chardin-show="{{$middle}}">
  <div class="card mb-0"
       style="background-image:url('{{player.emblem}}'),url('{{player.background[0]}}'); background-repeat:no-repeat,no-repeat; background-position:left,right; background-size:66px 66px,100% 66px; height:66px">
    <div class="front p-0" data-intro="Trials <strong>k/d</strong> and <strong>win %</strong> for this <strong>character</strong><br/>Flawless based on account lifetime, <strong>not</strong> weekly stat"
         data-position="right" ng-attr-chardin-show="{{$middle}}">
      <p class="large mb-0">
        <span ng-bind="player.name.substr(0, 15)"></span>
        <span ng-show="player.stats.killsDeathsRatio" class="right">
          <span class="hidden-xs hidden-md">K/D:</span>
          <span ng-bind="player.stats.killsDeathsRatio.basic.displayValue"></span>
        </span>
      </p>
      <p class="mb-0">
        <span ng-show="player.level && player.class.name">
          <span class="hidden-xs">Level</span>
          <span ng-bind="player.level"></span>
          <span ng-bind="player.class.name"></span>
        </span>
        <span ng-show="player.stats.activitiesEntered" class="right">
          Win<span class="hidden-xs"> Rate</span>:
          <span ng-bind="(100 * player.stats.activitiesWon.basic.value / player.stats.activitiesEntered.basic.value).toFixed()"></span>%
        </span>
      </p>
      <p class="mb-0">
        <span ng-show="player.lighthouse === false && !player.neverTrials">Never Flawless</span>
        <span ng-show="player.lighthouse === true">Flawless</span>
        <span ng-show="player.neverTrials">No Trials Games</span>
        <span ng-show="player.stats.combatRating" class="right">
          <span class="visible-xs-inline">CR:</span>
          <span class="hidden-xs">Rating:</span>
          <span ng-bind="player.stats.combatRating.basic.displayValue"></span>
        </span>
      </p>
    </div>
    <div class="back">
      <div class="col-xs-12">
        <div class="col-xs-6" ng-repeat="classNode in player.classNodes track by $index"
             popover="{{classNode.description}}" popover-trigger="mouseenter">
          <a class="icon icon-white m-0" style="margin-top:4px!important; margin-right:5px!important; width:25px; height:25px">
            <img class="img-responsive" ng-src="{{classNode.icon || ''}}">
          </a>
          <span class="text-left text-sm text-white" style="top:10px; position:absolute" ng-bind="classNode.name"></span>
        </div>
      </div>
    </div>
  </div>
</div>
