<div class="player__info">
  <div class="player__intro" style="background-image:url('{{player.background[0]}}')">
    <div class="player__title">
      <img class="player__emblem" ng-src="{{player.emblem || ''}}" />
      <span class="player__edit" ng-if="(subdomain != 'my') && ($index !== 0)" ng-click="toggleEdit(player)">
        <i class="material-icons">edit mode</i>
      </span>
      <div class="player__kd">
        <span ng-if="!player.stats.killsDeathsRatio.basic.displayValue">N/A</span>
        <span ng-if="player.stats.killsDeathsRatio.basic.displayValue"
              ng-bind="player.stats.killsDeathsRatio.basic.displayValue">
        </span>
        <label>K/D</label>
      </div>
      <div class="player__char">
        <h2 class="player__gamertag" ng-bind="player.name"></h2>
        <div class="player__race">
          <span ng-bind="'Level ' + player.level + ' ' + player.class.name"></span>
        </div>
      </div>
    </div>
  </div>
  <!--<div class="player__summary">-->
     <!--<div class="ng-class: {'highly-skilled' : player.stats.killsDeathsRatio.basic.value >= 2.0,-->
                            <!--'skilled' : player.stats.killsDeathsRatio.basic.value < 2.0 && player.stats.killsDeathsRatio.basic.value >= 1.5,-->
                            <!--'above-average' : player.stats.killsDeathsRatio.basic.value < 1.5 && player.stats.killsDeathsRatio.basic.value >= 1.1,-->
                            <!--'average' : player.stats.killsDeathsRatio.basic.value < 1.1 && player.stats.killsDeathsRatio.basic.value >= 0.9,-->
                            <!--'below-average' : player.stats.killsDeathsRatio.basic.value < 0.9 && player.stats.killsDeathsRatio.basic.value >= 0.7,-->
                            <!--'has-other-qualities' : player.stats.killsDeathsRatio.basic.value < 0.7 }">-->
       <!--<div ng-show="player.stats.killsDeathsRatio.basic.value >= 2.0">-->
         <!--Highly skilled player-->
       <!--</div>-->
       <!--<div ng-show="player.stats.killsDeathsRatio.basic.value < 2.0 && player.stats.killsDeathsRatio.basic.value >= 1.5">-->
         <!--Skilled player-->
       <!--</div>-->
       <!--<div ng-show="player.stats.killsDeathsRatio.basic.value < 1.5 && player.stats.killsDeathsRatio.basic.value >= 1.1">-->
         <!--Above average player-->
       <!--</div>-->
       <!--<div ng-show="player.stats.killsDeathsRatio.basic.value < 1.1 && player.stats.killsDeathsRatio.basic.value >= 0.9">-->
         <!--Average player-->
       <!--</div>-->
       <!--<div ng-show="player.stats.killsDeathsRatio.basic.value < 0.9 && player.stats.killsDeathsRatio.basic.value >= 0.7">-->
         <!--Below average player-->
       <!--</div>-->
       <!--<div ng-show="player.stats.killsDeathsRatio.basic.value < 0.7">-->
         <!--Has other qualities-->
       <!--</div>-->
     <!--</div>-->
  </div>
  <div class="player__main-stats">
    <div class="row">
      <div class="col-xs-3 stat">
        <span ng-if="!player.stats.activitiesEntered.basic.value">0%</span>
        <span ng-if="player.stats.activitiesEntered.basic.value"
              ng-bind="(100 * player.stats.activitiesWon.basic.value / player.stats.activitiesEntered.basic.value).toFixed() + '%'">
        </span>
        <label>Wins</label>
      </div>
      <div class="col-xs-3 stat">
        <span ng-if="!player.winStreak.length">N/A</span>
        <span ng-if="player.winStreak.length"
              ng-bind="player.winStreak.length">
        </span>
        <span class="player__streak player__streak--wins" ng-if="player.winStreak.type === 0"></span>
        <span class="player__streak player__streak--losses" ng-if="player.winStreak.type === 1"></span>
        <label>Streak</label>
      </div>
      <div class="col-xs-3 stat">
        <span ng-if="!player.stats.combatRating.basic.displayValue">N/A</span>
        <span ng-if="player.stats.combatRating.basic.displayValue"
              ng-bind="player.stats.combatRating.basic.displayValue">
        </span>
        <label>Rating</label>
      </div>
      <div class="col-xs-3 stat">
        <span class="player__lighthouse player__lighthouse--no" ng-if="player.lighthouse === false"><i class="material-icons">clear</i></span>
        <span class="player__lighthouse player__lighthouse--yes" ng-if="player.lighthouse === true"><i class="material-icons">done</i></span>
        <label>Flawless</label>
      </div>
    </div>
  </div>
  <div class="player__history">
    <label>Last matches</label>
    <div class="player-history__matches" trials-history="player.pastActivities"></div>
  </div>
  <div class="player__hazards">
    <div class="player-hazard player-hazard--friendly"
      ng-repeat="hazard in player.nonHazard track by $index" ng-bind="hazard"
      popover="{{DestinyHazardDefinition[hazard]}}" popover-trigger="mouseenter" popover-append-to-body="true">
    </div>
    <div class="player-hazard"
      ng-repeat="hazard in player.weapons.hazards.concat(player.armors.hazards, player.classNodes.hazards) track by $index" ng-bind="hazard"
      popover="{{DestinyHazardDefinition[hazard]}}" popover-trigger="mouseenter" popover-append-to-body="true">
    </div>
    <div class="player-hazard player-hazard--none">
      This Guardian doesn't need cheap tricks
    </div>
  </div>
</div>
