<div class="row pt-0" style="margin-top: -3px;">
  <div class="col-md-12 col-xs-12">
    <table class="table table-striped">
      <thead>
      <tr>
        <th class="p-0">
          <h5 class="mt-0 mb-0 custom-font filled bg-danger">Map</h5>
        </th>
        <th class="p-0">
          <h5 class="mt-0 mb-0 custom-font filled bg-danger">K</h5>
        </th>
        <th class="p-0">
          <h5 class="mt-0 mb-0 custom-font filled bg-danger">D</h5>
        </th>
        <th class="p-0">
          <h5 class="mt-0 mb-0 custom-font filled bg-danger">A</h5>
        </th>
        <th class="p-0">
          <h5 class="mt-0 mb-0 custom-font filled bg-danger">W</h5>
        </th>
        <th class="p-0">
          <h5 class="mt-0 mb-0 custom-font filled bg-danger">L</h5>

        </th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="(key, value) in player.mapStats">
        <td class="p-10">{{DestinyTrialsDefinitions[key].activityName}}</td>
        <td class="p-10">{{value.kills}}</td>
        <td class="p-10">{{value.deaths}}</td>
        <td class="p-10">{{value.assists}}</td>
        <td class="p-10">{{value.wins}}</td>
        <td class="p-10">{{value.losses}}</td>
      </tr>
      <tr>
        <td class="p-10"><strong>Total</strong></td>
        <td class="p-10"><strong>{{player.totals.kills}}</strong></td>
        <td class="p-10"><strong>{{player.totals.deaths}}</strong></td>
        <td class="p-10"><strong>{{player.totals.assists}}</strong></td>
        <td class="p-10"><strong>{{player.totals.wins}}</strong></td>
        <td class="p-10"><strong>{{player.totals.losses}}</strong></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
