<div class="maps">
  <div class="maps__specific">
    <div class="row">
      <div class="col-xs-12" ng-repeat="(key, value) in player.mapStats track by $index">
        <div class="stat-row__header">
          <span ng-bind="DestinyTrialsDefinitions[key].activityName"></span>
        </div>
        <div class="row stat-row">
          <div class="col-xs-2 col-xs-offset-2 stat">
            <span ng-bind="value.kills"></span>
            <label>Kills</label>
          </div>
          <div class="col-xs-2 stat">
            <span ng-bind="value.deaths"></span>
            <label>Deaths</label>
          </div>
          <div class="col-xs-2 stat">
            <span ng-bind="value.assists"></span>
            <label>Assists</label>
          </div>
          <div class="col-xs-2 stat">
            <span ng-bind="value.wins"></span>
            <label>Wins</label>
          </div>
          <div class="col-xs-2 stat">
            <span ng-bind="value.losses"></span>
            <label>Loss</label>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="maps__totals">
    <div class="stat-row__header">
      <span>Totals</span>
    </div>
    <div class="row stat-row">
      <div class="col-xs-2 col-xs-offset-2 stat">
        <span ng-bind="player.totals.kills"></span>
        <label>Kills</label>
      </div>
      <div class="col-xs-2 stat">
        <span ng-bind="player.totals.deaths"></span>
        <label>Deaths</label>
      </div>
      <div class="col-xs-2 stat">
        <span ng-bind="player.totals.assists"></span>
        <label>Assists</label>
      </div>
      <div class="col-xs-2 stat">
        <span ng-bind="player.totals.wins"></span>
        <label>Wins</label>
      </div>
      <div class="col-xs-2 stat">
        <span ng-bind="player.totals.losses"></span>
        <label>Loss</label>
      </div>
    </div>
  </div>
</div>
