<div class="player shadow-z-1 is-editing">
  <ng-include src="infoPartial"></ng-include>

  <tabset class="player-tabs">
    <tab heading="Equipped" analytics-on analytics-event="Click" analytics-category="Equipped" class="">
      <ng-include src="'views/fireteam/weapons.html'"></ng-include>
      <ng-include src="'views/fireteam/gear.html'"></ng-include>
    </tab>
    <tab heading="Last Match" analytics-on analytics-event="Click" analytics-category="Last Match" class="">
      <ng-include src="'views/fireteam/history.html'"></ng-include>
    </tab>
    <tab heading="Stats" analytics-on analytics-event="Click" analytics-category="Stats" class="">
      <ng-include src="'views/fireteam/addStats.html'"></ng-include>
    </tab>
  </tabset>

  <div class="player__links">
    <div class="row">
      <div class="col-xs-12 player__links__btns">
        <a href="http://my.destinytrialsreport.com/{{player.membershipType === 2 ? 'ps' : 'xbox'}}/{{player.name}}"
           type="button" target="_blank"
           class="btn btn-default btn-trials bg-info dk m-0 b-0"
           analytics-on analytics-event="Click" analytics-category="myDestinyTrialsReport"
           data-intro="Links to <strong>myDestinyTrialsReport</strong> for summary of player's guardians"
           data-position="left"
           chardin-show="{{isHelpOverlayElement(fireteam.length, $index)}}">
          myTrialsReport
        </a>
        <a href="http://destinytracker.com/destiny/playlists/{{player.membershipType === 2 ? 'ps' : 'xbox'}}/{{player.name}}/trialsOfOsiris"
           type="button" target="_blank"
           class="btn btn-default btn-trials bg-info dker m-0 b-0"
           analytics-on analytics-event="Click" analytics-category="DestinyTracker"
           data-intro="Links to <strong>DestinyTracker</strong> for more detailed statistics based on all characters and maps"
           data-position="right"
           chardin-show="{{isHelpOverlayElement(fireteam.length, $index)}}">
          DestinyTracker
        </a>
      </div>
    </div>
  </div>

  <div class="edit-player">
    <div ng-if="fireteam[0].name && $index < 3 && $index > -1">
      <div class="edit-player__input">
        <form role="form" ng-submit="searchPlayerbyName(teammateName, platformValue, $index, false)">
          <button class="btn btn-icon" type="submit"
                  ng-class="helpOverlay && ($index === 2) ? 'z99999999' : 'z000000'"
                  data-intro="Clicking 'Suggest Other' will provide a list of players recently played with. If all else fails, you can type a player's name in the text box"
                  data-position="right" chardin-show="{{$index === 2}}">
            <i class="material-icons">send</i>
          </button>
          <input type="text" placeholder="{{fireteam[$index].name}}" class="form-control" ng-model="teammateName"
               ng-class="helpOverlay && ($index === 2) ? 'z99999999' : 'z000000'" />
        </form>
      </div>
      <div class="edit-player__actions">
        <div class="recent-players">
          <span ng-hide="recentPlayers" class="input-group-btn">
            <button class="btn btn-white btn-raised" type="button"
                   ng-click="suggestRecentPlayers()"
                   analytics-on analytics-event="Click"
                   analytics-category="Suggest Recent Players">
                   Suggest Recent Players
            </button>
          </span>
         <div ng-show="recentPlayers" class="input-group-btn">
           <button class="btn btn-white dropdown-toggle btn-raised" style="margin-right:-2px" type="button"
                   id="dropdownMenuMobile{{($index)}}" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="true">
             Recent Players
             <span class="caret"></span>
           </button>
           <ul class="dropdown-menu" aria-labelledby="dropdownMenuMobile{{$index}}">
             <li ng-repeat="player in recentPlayers track by $index">
               <a class="black-font" ng-bind="player.name" ng-click="setRecentPlayer(player, ($parent.$index))"
                  analytics-on analytics-event="Click" analytics-category="Recent From Dropdown">
               </a>
             </li>
           </ul>
         </div>
       </div>
       <div class="close-overlay">
          <button class="btn btn-raised btn-white btn-xs">Close</button>
       </div>
    </div>
  </div>
</div>
