<div class="row" style="margin-top:-3px">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <progress animate="true" class="progress-striped not-rounded m-0">
      <bar value="player.cIntPercent" popover="Intellect: {{player.int}} ({{player.intPercent}}%)" popover-trigger="mouseenter" type="greensea">
        <span ng-show="player.cIntPercent >= 20">Intellect</span>
        <span ng-show="player.cIntPercent  < 20">Int</span>
      </bar>
      <bar value="player.cDisPercent" popover="Discipline: {{player.dis}} ({{player.disPercent}}%)" popover-trigger="mouseenter">
        <span ng-show="player.cDisPercent >= 20">Discipline</span>
        <span ng-show="player.cDisPercent  < 20">Dis</span>
      </bar>
      <bar value="player.cStrPercent" popover="Strength: {{player.str}} ({{player.strPercent}}%)" popover-trigger="mouseenter" type="warning">
        <span ng-show="player.cStrPercent >= 20">Strength</span>
        <span ng-show="player.cStrPercent  < 20">Str</span>
      </bar>
    </progress>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12 text-center">
    <i class="fa fa-circle mr-3 {{$index < 7 ? (player.pastActivities.length - $index ) > 18 ? 'hidden-xs' : '' : ''}}"
       ng-repeat="str in player.pastActivities track by $index"
       ng-class="str.standing === 0 ? 'win' : 'lose'"
       popover="K/D: {{str.kd}} with {{str.kills}} kills"
       popover-title="{{str.date | date : format : medium}}"
       popover-trigger="mouseenter"
      ></i>
  </div>
</div>

