<div class="row ml-0 mr-0" style="margin-top:-3px">
  <div class="col-md-12 col-sm-12 col-xs-12 pl-0 pr-0" data-intro="Bar size relative to the percentage of the sum<br/><em>hover over the icons for true percentage</em>" data-position="left" data-class="green hidden-xs hidden-sm">
    <progress max="player.cTotal" animate="true" class="progress-striped not-rounded m-0">
      <bar value="player.cInt" popover="Intellect: {{player.int}} ({{player.intPercent}}%)" popover-trigger="mouseenter" type="greensea">
        <span ng-show="player.cIntPercent >= 27">Intellect {{player.intPercent}}%</span>
        <span ng-show="player.cIntPercent <  27 && player.cIntPercent >= 16">Int {{player.intPercent}}%</span>
        <span ng-show="player.cIntPercent <  16">Int</span>
      </bar>
      <bar value="player.cDis" popover="Discipline: {{player.dis}} ({{player.disPercent}}%)" popover-trigger="mouseenter">
        <span ng-show="player.cDisPercent >= 27">Discipline {{player.disPercent}}%</span>
        <span ng-show="player.cDisPercent <  27 && player.cDisPercent >= 16">Dis {{player.disPercent}}%</span>
        <span ng-show="player.cDisPercent <  16">Dis</span>
      </bar>
      <bar value="player.cStr" popover="Strength: {{player.str}} ({{player.strPercent}}%)" popover-trigger="mouseenter" type="warning">
        <span ng-show="player.cStrPercent >= 27">Strength {{player.strPercent}}%</span>
        <span ng-show="player.cStrPercent <  27 && player.cStrPercent >= 16">Str {{player.strPercent}}%</span>
        <span ng-show="player.cStrPercent <  16">Str</span>
      </bar>
    </progress>
  </div>
</div>

<div class="row ml-0 mr-0 mb-10" data-intro="Match win/loss history<br/><em>hover over the icons for details</em>" data-position="right" data-class="red hidden-xs hidden-sm">
  <div class="col-xs-12 pr-0 pl-0 text-center win-loss">
    <i class="fa fa-circle mr-3 {{$index < 7 ? (player.pastActivities.length - $index ) > 18 ? 'hidden-xs hidden-md' : '' : ''}}"
       ng-repeat="str in player.pastActivities track by $index"
       ng-class="str.standing === 0 ? 'win' : 'lose'"
       popover="K/D: {{str.kd}} with {{str.kills}} kills"
       popover-title="{{str.date | date : format : medium}}"
       popover-trigger="mouseenter"
      ></i>
  </div>
</div>
