<div class="row" style="margin-top:-3px">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <progress animate="true" class="progress-striped not-rounded m-0">
      <bar type="greensea" value="(player.cInt)/(player.cDis + player.cInt + player.cStr) * 100" popover="Intellect: {{player.int}}" popover-trigger="mouseenter"><span>Int</span></bar>
      <bar value="(player.cDis)/(player.cDis + player.cInt + player.cStr) * 100" popover="Discipline: {{player.dis}}" popover-trigger="mouseenter"><span>Dis</span></bar>
      <bar type="warning" value="(player.cStr)/(player.cDis + player.cInt + player.cStr) * 100" popover="Strength: {{player.str}}" popover-trigger="mouseenter"><span>Str</span></bar>
    </progress>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-xs-12 text-center">
    <i class="fa fa-circle mr-3 {{$index < 7 ? (player.pastActivities.length - $index ) > 18 ? 'hidden-xs' : '' : ''}}"
       ng-repeat="str in player.pastActivities track by $index"
       ng-class="str.standing === 0 ? 'win' : 'lose'"
       popover="K/D: {{str.kd}} with {{str.kills}} kills"
       popover-title="{{str.date | date : format : medium}}"
       popover-trigger="mouseenter"
      ></i>
  </div>
</div>

