<div class="row ml-0 mr-0" style="height: 130px" ng-repeat="weapon in [player.weapons.BUCKET_PRIMARY_WEAPON, player.weapons.BUCKET_SPECIAL_WEAPON, player.weapons.BUCKET_HEAVY_WEAPON] track by $index">
  <div class="col-md-4 col-xs-4 pt-10">
    <div class="card mb-0">
      <div class="front p-0">
        <img popover="{{weapon.name}}" popover-trigger="mouseenter"
             class="img-responsive weapon-img {{weapon.burnColor || 'kinetic-dmg'}}"
             ng-src="{{weapon.icon}}" alt="{{weapon.name}}">
      </div>
      <!--<div class="back bg-greensea">-->
        <!--<div class="col-md-12">-->
          <!--<p class="text-center pt-10 text-sm">{{weapon.name}}</p>-->
          <!--<p ng-show="player.stats" class="text-center text-sm">PGA: {{getWeaponKills(weapon.subType, player)}}</p>-->
        <!--</div>-->
      <!--</div>-->
    </div>
  </div>
  <div class="col-md-8 col-xs-8 pt-10">
    <div class="row" ng-repeat="node in weapon.nodes" ng-show="node.name">
      <div class="col-xs-2">
        <a class="icon icon-default" style="margin:0px; width:22px; height:22px" popover="{{node.description}}" popover-trigger="mouseenter">
          <img class="img-responsive" ng-src="{{node.icon || ''}}">
        </a>
      </div>
      <div class="col-xs-10">
        <span class="text-left text-sm">{{node.name}}</span>
      </div>
    </div>
  </div>
</div>